@model Binke.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
    ViewBag.PageDescription = "It's easy to recover your password on doctyme.com. A top healthcare directory to find best available healthcare provider information including doctor, pharmacy, facility, senior care and more. Finding a health care provider has never been easier.";
    List<string> AdvList = ViewBag.AdvList as List<string>;
    var imageUrl = "loginad1.jpg";
    int size = AdvList != null ? AdvList.Count : 0;
    int start2 = new Random().Next(0, size);
    imageUrl = AdvList != null ? AdvList[start2] : imageUrl;
}
<style type="text/css">
    .contact-form input {
        padding: 0px 20px;
        background: #fff !important;
        border: 1px solid #f5f5f5;
        font-size: 14px;
        color: #333333;
    }

    .fullBackground {
        background-position: left;
        background-attachment: fixed;
        background-size: cover;
        /*position: absolute;*/
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        /* background-size: 300px 100px;
        background-image: url("/Uploads/Advertisement/loginad2.jpeg");*/
        background-size: 60% 100%;
    }
</style>
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <link rel='canonical' href='https://www.doctyme.com/Account/ForgotPassword'>
</head>
<div class="bk-section contact-area section-padding-lg fullBackground">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-4">
                <h3>Forgot your password?</h3>
                <div class="contact-leftside">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "contact-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <p class="form-message">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </p>
                        <div class="row">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Your Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <button style="height: 36px;" type="submit" class="btn btn-sm btn-primary"> Email Link <i class="fa fa-angle-right"></i></button>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <a class="pull-left" href="/Account/Register">Register</a>
                            </div>
                            <div class="col-lg-6">
                                <a class="pull-right" href="/Account/Login">Login</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       
        $('.fullBackground').css('background-image', 'url(/Uploads/Advertisement/' + '@imageUrl' + ')');
        getBanner();
    });

    function getBanner() {
        $.ajax({
            url: "GetBanner",
            type: "GET",
            dataType: "json",
            data: {},
            success: function (response) {
                if (response.JsonStatus == 1) {
                    var arrBanner = response.JsonResponse;
                    var indx = 0;
                    setInterval(function () {
                        if (arrBanner.length == indx) {
                            indx = 0;
                        }
                        else {
                            $('.fullBackground').css('background-image', 'url(/Uploads/Advertisement/' + arrBanner[indx].ImagePath + ')');
                            indx++;

                        }
                    }, 5000);

                }
                else {
                    console.log(response.JsonMessage, "Error");
                }
            },
            error: function (result) {
                console.log(result);
            }
        });
    }
</script>