@using Doctyme.Repository.Enumerable;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Images";
}
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>

@section pageheader{
    <h3><i class="fa fa-user-md"></i>Images</h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            @if (User.IsInRole(UserRoles.Admin))
            {
                <li> <a href="/SeniorCare/"> SeniorCare</a></li>
            }
            <li class="active"> Images </li>
        </ol>
    </div>
}
<style>
    #dtSiteImage_length select {
        margin: 0px 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #dtSiteImage_length {
        float: left;
    }

    #page-content {
        padding: 0px 20px 0 !important;
    }
</style>

<h5 id="lblSeniorcareOrganisationName" style="text-align:center;font-weight:600;color:#337ab7;margin-top: -50px;margin-bottom: 40px;"> </h5>
<div class="panel">
    <div class="panel-body">
        <div id="renderAddEditSiteImage"></div>
        <div class="hr-line-dashed"></div>
        @*<button href="javascript:;" class="pull-right btn btn-sm btn-primary" id="addSiteImage">Add SiteImage</button>*@
        <table id="dtSiteImage" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th width="45%">Name</th>
                    <th width="20%">Image</th>
                    <th width="10%">Profile</th>
                    <th width="10%">Active</th>
                    <th width="15%">Action</th>                    
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            AddSeniorcareSubmenu();
            AddEditSiteImage(0);
            bindSiteImageList(true);
        });

        $(document).on("click", "#addSiteImage", function () {
            AddEditSiteImage(0);
        });

        $(document).on('click', '.viewInfo', function () {
            
            var ItemId = $(this).attr('data-Id');             
            var SeniorOrgId = localStorage.getItem("SeniorcareOrganisationId");
            $("#renderAddEditSiteImage").load("/_SiteImage/" + ItemId + "/" + SeniorOrgId, function () {                 
                $('#lblSeniorcareOrganisationName').html(localStorage.getItem("SeniorcareOrganisationName"));
                $("#renderAddEditSiteImage").find('input, textarea, button, select').attr("disabled", true);      
                $('#myModalLabel').html('View Images');
            });

        });

        function AddEditSiteImage(id) {
            var SeniorOrgId = localStorage.getItem("SeniorcareOrganisationId");
            $("#renderAddEditSiteImage").load("/_SiteImage/" + id + "/" + SeniorOrgId, function () {
                //$("#divModal").modal('show');
                $('#lblSeniorcareOrganisationName').html(localStorage.getItem("SeniorcareOrganisationName"));
                //$('#lblSeniorcareNPI').val(localStorage.getItem("SeniorcareOrganisationNPI"));
            });
        }

        function bindSiteImageList(flag) {
            if ($.fn.DataTable.isDataTable("#dtSiteImage")) {
                $('#dtSiteImage').DataTable().destroy();
            }
            var SeniorOrgId = localStorage.getItem("SeniorcareOrganisationId");

            var table = $('#dtSiteImage')
                .DataTable({
                    "sAjaxSource": "/GetSiteImageList/" + flag + "/" + SeniorOrgId,
                    "columns": [
                        {
                            "data": "Name",
                            "autoWidth": false,
                            "searchable": true                            
                        },
                        {
                            "data": "ImagePath",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var content = '<div><img class="profile-img img-center" src="' + '@Doctyme.Repository.Enumerable.FilePathList.SeniorCare' + data + '" alt="No Image" /></div>';
                                return content;
                            }
                        },
                        //{
                        //    "data": "IsProfile",
                        //    "autoWidth": false,
                        //    "searchable": true
                        //},
                        {
                            "data": "IsProfile",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var value = "";
                                if (data) {
                                    value = "checked";
                                }
                                var content = '<div class="input-group mg-b-pro-edt" style="pointer-events:none;">';
                                content += '<label class="switch" style="padding-left:25px;">';
                                content += '<input type="checkbox" ' + value + ' data-Id= "' + row.SiteImageId + '" data-flag="isprofile"  class="action"/>&nbsp;';
                                content += '<span class="slider round"style="width:35px;"></span>';
                                content += ' ';
                                content += '</label >  </div>';
                                return content;
                            }
                        },
                        //{
                        //    "data": "CreatedDate",
                        //    "autoWidth": false,
                        //    "searchable": true
                        //},
                        //{
                        //    "data": "UpdatedDate",
                        //    "width": "20%",
                        //    "searchable": true
                        //},
                        {
                            "data": "IsActive",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var value = "";
                                if (data) {
                                    value = "checked";
                                }
                                var content = '<div class="input-group mg-b-pro-edt"  style="pointer-events:none;">';
                                content += '<label class="switch" style="padding-left:25px;" >';
                                content += '<input type="checkbox" ' + value + ' data-Id= "' + row.SiteImageId + '" data-flag="isactive"  class="action"  />&nbsp;';
                                content += '<span class="slider round"style="width:35px;"></span>';
                                content += ' ';
                                content += '</label >  </div>';
                                return content;
                            }
                        },
                        {
                            "data": "SiteImageId",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data) {
                                var content = '<a href="javascript:;" data-toggle="tooltip" data-original-title="Edit" data-flag="edit" data-Id="' + data + '" class="btn btn-primary btn-sm action"><i class="fa fa-edit"></i></a> &nbsp;';
                                content += '<a href="JavaScript:" data-toggle="tooltip" data-original-title="View" data-flag="View" data-Id="' + data + '" class="btn btn-success btn-sm action viewInfo"><i class="fa fa-eye"></i></a> &nbsp;';
                                content += '<a href="javascript:;" data-toggle="tooltip" data-original-title="Delete" data-flag="delete" data-Id="' + data + '" class="btn btn-danger btn-sm action"><i class="fa fa-trash"></i></a>'
                                return content;
                            }
                        }
                    ]
                });
        };

        $('#dtSiteImage').on("click", ".action", function (e) {
            var flag = $(e.currentTarget).attr("data-flag");
            var id = $(e.currentTarget).attr("data-Id");
            switch (flag) {
                case "edit":
                    AddEditSiteImage(id);
                    break;
                case "delete":
                    DeleteSiteImage(id);
                    break;
                case "isactive":
                    //if ($(this).is(':checked')) {
                    //    SiteImageStatusChange(id, 1, 0);  // inactive update
                    //}
                    //else {
                    //    SiteImageStatusChange(id, 0, 0);  // active update
                    //}
                    break;
                case "isprofile":
                    //if ($(this).is(':checked')) {
                    //    SiteImageStatusChange(id, 1, 1); // inactive profile update
                    //}
                    //else {
                    //    SiteImageStatusChange(id, 0, 1); // active profile update
                    //}
                    break;
                default:
            }
        });

        function SiteImageStatusChange(id, isactive,isprofile) {
            $.ajax({
                url: "/SiteImageStatusChange/" + parseInt(id) + "/" + isactive + '/' + isprofile,
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    HandleResponse(data);
                    bindSiteImageList(true);
                },
                error: function (data) {
                    HandleResponse(data);
                }
            });
        }

        function DeleteSiteImage(id) {
            BinkeDialog.Confirmation("Delete",
                "Are you sure you want to delete this ?",
                function () {
                    $.ajax({
                        url: "/RemoveSiteImage/" + parseInt(id),
                        type: "POST",
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            HandleResponse(data);
                            bindSiteImageList(true);
                            AddEditSiteImage(0);
                        },
                        error: function (data) {
                            HandleResponse(data);
                        }
                    });
                });
        }

        function AddSeniorcareSubmenu() {
            var SeniorOrgId = localStorage.getItem("SeniorcareOrganisationId");
            var isSeniorCareUser = localStorage.getItem("isSeniorCareUser");

            var submenuHtml = '';
            if (isSeniorCareUser == 1) {
                $('#aUserProfile').attr('href', '/SeniorCareProfile/' + SeniorOrgId + '/1/1');
                submenuHtml += '<ul class="nav nav-treeview  seniorcare-tree"><li class="nav-item"><a href="/SeniorCareProfile/' + SeniorOrgId + '/1/1" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Profile</p></a></li >';
            }
            else {
                $('#aUserProfile').attr('href', '/SeniorCareProfile/' + SeniorOrgId + '');
                submenuHtml += '<ul class="nav nav-treeview  seniorcare-tree"><li class="nav-item"><a href="/SeniorCareProfile/' + SeniorOrgId + '/0" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Profile</p></a></li >';
            }
            submenuHtml += '<li class="nav-item"><a href="/OrganizationAmenityOption/Index" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Amenities/Options</p></a></li>';
            @*if ('@User.IsInRole(UserRoles.Admin)' == 'True') {*@
                submenuHtml += '<li class="nav-item"><a href="/SeniorCare/Booking" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Booking</p></a></li>';
            //}
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/Cost" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Cost</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SiteImage" class="nav-link"><i class="far fa-dot-circle-o nav-icon"></i><p>Images</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/Reviews" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Reviews</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/InsurancePlan" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Insurance Plan</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/OpeningHours" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Opening Hours</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/Address" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Address</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/SocialMedia" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Social Media</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/StateLicense" class="nav-link"><i class="far fa-circle nav-icon"></i><p>State License</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/Taxonomy" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Taxonomy</p></a></li>';


            submenuHtml += '</ul>'
            $('.seniorcare-tree-parent').addClass("active");
            $('.seniorcare-tree-parent').addClass("open");
            $('.seniorcare-tree-parent').addClass("menu-open");
            $('.seniorcare-tree-parent').append(submenuHtml);
        }

        $("#MnuSeniorCare").click(function () {
            window.location.href = '/SeniorCare/';
        });

    </script>
}