@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = " Advertisement Location";
}

<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>

@section pageheader{
    <h3><i class="fa fa-user-md"></i>  Advertisement Location </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="/Doctor/"> User </a></li>
            <li class="active">  Advertisement Location </li>
        </ol>
    </div>
}
<style>
    #dtAdvertisementLocation_length select {
        margin: 0px 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #dtAdvertisementLocation_length {
        float: left;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="tab-base">
            <!--Nav Tabs-->
            @*<ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#activeDoctor"> Active Doctor</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#deActivetDoctor">Deactive Doctor</a>
                    </li>
                    <li class="pull-right">
                        <a id="AddDoctor" href="javascript:;"> <i class="fa fa-user-md"></i> Add Doctor</a>
                    </li>
                </ul>*@

            <!--Tabs Content-->
            <div class="tab-content">
                <div id="userType" class="tab-pane fade active in">
                    <button href="javascript:;" class="pull-right btn btn-sm btn-primary" id="AddAdvertisementLocation">Add  Advertisement Location</button>
                    <table id="dtAdvertisementLocation" class="table table-striped table-bordered table-hover small" width="100%">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th> Advertisement Location Name</th>
                                <th>Description</th>
                                <th>Is Active</th>
                                <th style="width: 80px">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--===================================================-->
        <!--End Default Tabs (Left Aligned)-->
    </div>

</div>

@section pagespecific{
    <script type="text/javascript">
        $("#Lookup").addClass('menu-open');
        $("#Lookup ul li a p").each(function () {
            var text = $(this).text();
            if (text == "Advertisement Location") {
                $(this).parent().addClass('active-sub-menu-item');
                $(this).parent().find('i').removeClass('far fa-circle');
                $(this).parent().find('i').addClass('far fa-dot-circle-o');
            }
            else {
                $(this).parent().removeClass('active-sub-menu-item');
                $(this).parent().find('i').removeClass('far fa-dot-circle-o');
                $(this).parent().find('i').addClass('far fa-circle');
            }
        });
        $(document).ready(function () {
            bindActiveAdvertisementLocationList(true);
        });
        $(document).on("click", "#AddAdvertisementLocation", function () {
            AddEditAdvertisementLocation(0);
        });

        function AddEditAdvertisementLocation(id) {
            $("#modalContent").load("/_AdvertisementLocation/" + id, function () {
                $("#divModal").modal('show');
            });
        }
        function ViewAdvertisementLocation(id) {
            $("#modalContent").load("/_ViewAdvertisementLocation/" + id, function () {
                $("#divModal").modal('show');
            });
        }

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href");
            switch (target) {
                case "#AdvertisementLocation":
                    bindActiveAdvertisementLocationList(true);
                    break;
                case "#deAdvertisementLocation":
                    bindDeActiveAdvertisementLocationList(false);
                    break;
                default:
                    break;
            }
        });


        function bindActiveAdvertisementLocationList(flag) {
            if ($.fn.DataTable.isDataTable("#dtAdvertisementLocation")) {
                $('#dtAdvertisementLocation').DataTable().destroy();
            }
            var table = $('#dtAdvertisementLocation')
                .DataTable({
                    "sAjaxSource": "/GetAdvertisementLocationList/" + flag,
                    "columns": [
                        {
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            "data": "Name",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "Description",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "IsActive",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var value = "";
                                if (data) {
                                    value = "checked";
                                }
                                var content = '<div class="input-group mg-b-pro-edt">';
                                content += '<label class="switch" style="  margin-left: 27px;">';
                                content += '<input onchange="ActiveDeactiveAdvertisementLocation(this)" type="checkbox" ' + value + ' data-Id= "IsActive" data-typeId="' + row.Id + '" />&nbsp;';
                                content += '<span class="slider round"style="width:35px;"></span> ';
                                content += ' ';
                                content += '</label >  </div>';
                                return content;
                            }
                        },
                        {
                            "data": "Id",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var content = '<div style="display:flex"><a href="javascript:;" data-toggle="tooltip" data-original-title="Edit" data-flag="edit" data-Id="' + row.Id + '" class="btn btn-primary btn-sm action"><i class="fa fa-edit"></i></a> &nbsp; ';
                                content += '<a href="javascript:;" data-toggle="tooltip" data-original-title="View" data-flag="View" data-Id="' + data + '" class="btn btn-success btn-sm action"><i class="fa fa-eye"></i></a> &nbsp;';
                                content += '<a href="javascript:;" data-toggle="tooltip" data-original-title="Delete" data-flag="delete" data-Id="' + row.Id + '" class="btn btn-danger btn-sm action"><i class="fa fa-trash"></i></a> &nbsp;</div>'
                                return content;
                            }
                        }
                    ]
                });
        };


        function DeactivateAdvertisementLocation(ctrl,id, flag) {
            var title = flag ? "De Activate" : "Re Activate";
            var message = "Are you sure you want to <b> " + title + " </b> this  Advertisement Location";
            BinkeDialog.Confirmation(title, message, function () {
                $.ajax({
                    url: "/ActiveDeActiveAdvertisementLocation/" + flag + "/" + parseInt(id),
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        HandleResponse(data);
                        if (flag) {
                            bindActiveAdvertisementLocationList(true);
                        } else {
                            bindActiveAdvertisementLocationList(false);
                        }
                    },
                    error: function (data) {
                        HandleResponse(data);
                    }
                });
           }, function () {
                
                //Restore the state
                $(ctrl).prop('checked', flag);
            });
        }
        var ActiveDeactiveAdvertisementLocation = function (ctrl) {
            var flag = $(ctrl).is(":checked");

            var id = $(ctrl).data("typeid");
            switch (flag) {
                case false:
                    DeactivateAdvertisementLocation(ctrl,id, true);
                    break;
                case true:
                    DeactivateAdvertisementLocation(ctrl,id, false);
                default:
            }
        }
        $('#dtAdvertisementLocation, #dtDeActivetAdvertisementLocation').on("click", ".action", function (e) {
            var flag = $(e.currentTarget).data("flag");

            var id = $(e.currentTarget).data("id");
            switch (flag) {
                case "deactivate":
                    DeactivateAdvertisementLocation(id, true);
                    break;
                case "reactivate":
                    DeactivateAdvertisementLocation(id, false);
                case "edit":
                    AddEditAdvertisementLocation(id);
                    break;
                case "delete":
                    RemoveAdvertisementLocation(id);
                    break;
                case "View":
                    ViewAdvertisementLocation(id);
                    break;
                default:
            }
        });
        function RemoveAdvertisementLocation(id) {
            var message = "Are you sure you want to <b> Remove  Advertisement Location </b> ";
            BinkeDialog.Confirmation("Remove  Advertisement Location", message, function () {
                $.ajax({
                    url: "/RemoveAdvertisementLocation/" + parseInt(id),
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response) {
                        HandleResponse(response);
                        if (response.Status) {
                            bindActiveAdvertisementLocationList(true);
                        }
                    },
                    error: function (data) {
                        HandleResponse(data);
                    }
                });
            });
        }

    </script>
}