<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="BinkAppDB" connectionString="Data Source=AJAY\MSSQLEXPRESS;Initial Catalog=BinkDb;Persist Security Info=True; User ID=sa;Password=admin123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="BinkAppDB" connectionString="Data Source=NEXUSTECH\NEXUSTECH;Initial Catalog=BinkDb;Persist Security Info=True; User ID=sa;Password=sqlmaster;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="BinkAppDB" connectionString="Data Source=C144\SQLEXPRESS2016;Initial Catalog=BinkDb;Persist Security Info=True; User ID=sa;Password=admin123!@#;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->

    <!--<add name="Doctyme" connectionString="Data Source=sql5050.site4now.net;Initial Catalog=DB_9B1DE6_doctyme;Persist Security Info=True;User ID=DB_9B1DE6_azidocx_admin;Password=Brand#119731;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Doctyme" connectionString="Data Source=.\MSSQLSERVER2017;Initial Catalog=doctyme;Persist Security Info=True;User ID=sa;Password=root;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <add name="Doctyme" connectionString="Data Source=SQL5050.site4now.net;Initial Catalog=DB_9B1DE6_azidocx;User Id=DB_9B1DE6_azidocx_admin;Password=Base@camp1212;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <!--<add name="DoctymeBlog" connectionString="Data Source=sql5047.site4now.net;Initial Catalog=DB_9B1DE6_BlogDoctyme;User Id=DB_9B1DE6_BlogDoctyme_admin;Password=Base@camp1212;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->

    <!--<add name="BinkAppDB" connectionString="Data Source=ARVIND-PC\SQLEXPRESS;initial catalog=DB_9B1DE6_doctyme;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>