<!-- end nav navbar-nav -->
@using Binke.App_Helpers
@using Doctyme.Repository.Enumerable
@*<li class="nav-item">
    <a href="/Dashboard/Facility" class="nav-link">
        <i class="nav-icon far fa-circle"></i>
        <p>
            Dashboard
        </p>
    </a>
</li>*@