
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Specialitys";
}
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>


@section pageheader{
<h3><i class="fa fa-user-md"></i> Web Settings </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="/WebSettings/"> Web Settings </a></li>
            <li class="active"> Network Count </li>
        </ol>
    </div>
}

<div class="panel">
</div>

<!-- END MAIN CONTENT -->
@section pagespecific {

}