<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="BinkAppDB" connectionString="Data Source=AJAY\MSSQLEXPRESS;Initial Catalog=BinkDb;Persist Security Info=True; User ID=sa;Password=admin123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="BinkAppDB" connectionString="Data Source=NEXUSTECH\NEXUSTECH;Initial Catalog=BinkDb;Persist Security Info=True; User ID=sa;Password=sqlmaster;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="BinkAppDB" connectionString="Data Source=C144\SQLEXPRESS2016;Initial Catalog=BinkDb;Persist Security Info=True; User ID=sa;Password=admin123!@#;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Doctyme" connectionString="Data Source=sql5050.site4now.net;Initial Catalog=DB_9B1DE6_doctyme;Persist Security Info=True;User ID=DB_9B1DE6_azidocx_admin;Password=Brand#119731;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Doctyme" connectionString="Data Source=.\MSSQLSERVER2017;Initial Catalog=doctyme;Persist Security Info=True;User ID=sa;Password=root;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Doctyme" connectionString="Data Source=SQL5050.site4now.net;Initial Catalog=DB_9B1DE6_azidocx;User Id=DB_9B1DE6_azidocx_admin;Password=Base@camp9973;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="Doctyme" connectionString="Data Source=SQL5047.site4now.net;Initial Catalog=DB_9B1DE6_doctyme;User Id=DB_9B1DE6_doctyme_admin;Password=Doc@tyme198293;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <add name="Doctyme" connectionString="Data Source=SQL5047.site4now.net;Initial Catalog=DB_9B1DE6_doctyme;User Id=DB_9B1DE6_doctyme_admin;Password=Blast@8712#;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <!--<add name="Doctyme" connectionString="Data Source=sql5047.site4now.net;Initial Catalog=DB_9B1DE6_doctyme;Persist Security Info=True;User ID=DB_9B1DE6_doctyme_admin;Password=Doc@tyme1923133;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="BinkAppDB" connectionString="Data Source=ARVIND-PC\SQLEXPRESS;initial catalog=DB_9B1DE6_doctyme;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="supportemail" value="support@doctyme.com" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="owin:AppStartup" value="Binke.Startup, Binke" />
    <!-- Website Urls-->
    <add key="physicalLocalURL" value="http://localhost:49232/" />
    <add key="ApiBaseAddress" value="http://web.doctyme.com/" />
    <add key="ApiBaseDeveloperAddress" value="http://developer.doctyme.com/" />
    <!-- Theme Template Keys-->
    <add key="config:EnableTiles" value="1" />
    <add key="config:EnableLoader" value="1" />
    <add key="config:Project" value="Network App" />
    <add key="config:Company" value="MyOrange Inc., Walapa" />
    <add key="config:CurrentTheme" value="" />
    <!-- Default Settings For Date and Time with TimeZone-->
    <add key="DefaultDateTimeFormate" value="MM/dd/yyyy : hh:mm tt" />
    <add key="DefaultTimeZone" value="India Standard Time" />
    <!--Email Keys-->
    <add key="SMTP_USERNAME" value="support@doctyme.com" />
    <add key="SMTP_SENDER_EMAIL" value="support@doctyme.com" />
    <add key="SMTP_PASSWORD" value="Best#Time21$#" />
    <add key="SMTP_HOST" value="mail.doctyme.com" />
    <add key="SMTP_PORT" value="8889" />
    <add key="SMTP_ENABLESSL" value="true" />
    <add key="CompanyName" value="Doctyme" />
    <add key="CompanySite" value="https://www.doctyme.com/" />
    <add key="CompanyEmail" value="noreply@doctyme.com" />
    <!--<add key="ApiBaseAddress" value="web.doctyme.com" />-->
    <!--http://ipinfo.io/-->
    <add key="GetIpAddressLocation" value="http://api.ipstack.com/ipaddress?access_key=3d92543aef25ffff34f270459ac95e69" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" maxQueryStringLength="32768" maxUrlLength="65536" executionTimeout="3600" enable="true" />
    <!--<customErrors mode="Off" />-->
    <customErrors mode="On">
      <error statusCode="404" redirect="/Error/PageNotFound" />
      <error statusCode="500" redirect="/Error" />
      <error statusCode="401" redirect="/Error/AccessDenied" />
      <error statusCode="403" redirect="/Error/ForBidden" />
    </customErrors>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="httpTohttps" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <!--<add input="{HTTP_HOST}" pattern="localhost" ignoreCase="true" negate="true"/>-->
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol />
    <!--<httpErrors errorMode="Detailed">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <remove statusCode="401" />
      <remove statusCode="403" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/PageNotFound" />
      <error statusCode="500" responseMode="ExecuteURL" path="~/Error/" />
      <error statusCode="401" responseMode="ExecuteURL" path="~/Error/AccessDenied/" />
      <error statusCode="403" responseMode="ExecuteURL" path="~/Error/ForBidden/" />
    </httpErrors>-->
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="32768" />
        <fileExtensions>
          <add fileExtension=".sql" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/truetype" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>