
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- <div class="fakeloader"></div> -->
    <!-- Wrapper -->
    <div id="wrapper" class="wrapper">
        <!-- Breadcrumb Area -->
        <div class="bk-breadcrumb-area bg-theme">
            <div class="container">
                <div class="bk-breadcrumb">
                    <h2>FAQS</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Faqs</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// Breadcrumb Area -->
        <!-- Page Content -->
        <main id="page-content">

            <!-- Faq Section -->
            <section class="cr-section faq-section bg-white section-padding-lg">
                <div class="container">
                    <div class="faq-wrapper">
                        <h5>Some of your Questions:</h5>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>


                        <div class="row faq-questions">

                            <div class="col-lg-6 faq-single-questions">

                                <h6 class="faq-single-title"><span>Item Discussion 01</span></h6>

                                <div class="cr-accordion-wrap" id="faq-accordion-1" role="tablist" aria-multiselectable="false">

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-1-header-1">
                                            <a data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-accordion-1-content-1" aria-expanded="true" aria-controls="faq-accordion-1-content-1">How do I become an author?</a>
                                        </div>
                                        <div id="faq-accordion-1-content-1" class="collapse in show" role="tabpanel" aria-labelledby="faq-accordion-1-header-1">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-1-header-2">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-accordion-1-content-2" aria-expanded="true" aria-controls="faq-accordion-1-content-2">Helpful Resources for Authors?</a>
                                        </div>
                                        <div id="faq-accordion-1-content-2" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-1-header-2">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-1-header-3">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-accordion-1-content-3" aria-expanded="true" aria-controls="faq-accordion-1-content-3">Can I use trademarked names in my items?</a>
                                        </div>
                                        <div id="faq-accordion-1-content-3" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-1-header-3">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-1-header-4">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-accordion-1-content-4" aria-expanded="true" aria-controls="faq-accordion-1-content-4">How can I get support for an item?</a>
                                        </div>
                                        <div id="faq-accordion-1-content-4" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-1-header-4">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-1-header-5">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-1" href="#faq-accordion-1-content-5" aria-expanded="true" aria-controls="faq-accordion-1-content-5">What Images, Videos, Code Can I Use in my Items?</a>
                                        </div>
                                        <div id="faq-accordion-1-content-5" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-1-header-5">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6 faq-single-questions">

                                <h6 class="faq-single-title"><span>Item Discussion 02</span></h6>

                                <div class="cr-accordion-wrap" id="faq-accordion-2" role="tablist" aria-multiselectable="false">
                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-2-header-1">
                                            <a data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-accordion-2-content-1" aria-expanded="true" aria-controls="faq-accordion-2-content-1">How do I become an author?</a>
                                        </div>
                                        <div id="faq-accordion-2-content-1" class="collapse in show" role="tabpanel" aria-labelledby="faq-accordion-2-header-1">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-2-header-2">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-accordion-2-content-2" aria-expanded="true" aria-controls="faq-accordion-2-content-2">Helpful Resources for Authors?</a>
                                        </div>
                                        <div id="faq-accordion-2-content-2" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-2-header-2">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-2-header-3">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-accordion-2-content-3" aria-expanded="true" aria-controls="faq-accordion-2-content-3">Can I use trademarked names in my items?</a>
                                        </div>
                                        <div id="faq-accordion-2-content-3" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-2-header-3">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-2-header-4">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-accordion-2-content-4" aria-expanded="true" aria-controls="faq-accordion-2-content-4">How can I get support for an item?</a>
                                        </div>
                                        <div id="faq-accordion-2-content-4" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-2-header-4">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 faq-single-questions">

                                <h6 class="faq-single-title"><span>Item Discussion 03</span></h6>

                                <div class="cr-accordion-wrap" id="faq-accordion-3" role="tablist" aria-multiselectable="false">

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-3-header-1">
                                            <a data-toggle="collapse" data-parent="#faq-accordion-3" href="#faq-accordion-3-content-1" aria-expanded="true" aria-controls="faq-accordion-3-content-1">How do I become an author?</a>
                                        </div>
                                        <div id="faq-accordion-3-content-1" class="collapse in show" role="tabpanel" aria-labelledby="faq-accordion-3-header-1">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-3-header-2">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-3" href="#faq-accordion-3-content-2" aria-expanded="true" aria-controls="faq-accordion-3-content-2">Helpful Resources for Authors?</a>
                                        </div>
                                        <div id="faq-accordion-3-content-2" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-3-header-2">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-3-header-3">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-3" href="#faq-accordion-3-content-3" aria-expanded="true" aria-controls="faq-accordion-3-content-3">How do I become an author?</a>
                                        </div>
                                        <div id="faq-accordion-3-content-3" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-3-header-3">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-3-header-4">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-3" href="#faq-accordion-3-content-4" aria-expanded="true" aria-controls="faq-accordion-3-content-4">How can I get support for an item?</a>
                                        </div>
                                        <div id="faq-accordion-3-content-4" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-3-header-4">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6 faq-single-questions">

                                <h6 class="faq-single-title"><span>Item Discussion 04</span></h6>

                                <div class="cr-accordion-wrap" id="faq-accordion-4" role="tablist" aria-multiselectable="false">
                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-4-header-1">
                                            <a data-toggle="collapse" data-parent="#faq-accordion-4" href="#faq-accordion-4-content-1" aria-expanded="true" aria-controls="faq-accordion-4-content-1">How do I become an author?</a>
                                        </div>
                                        <div id="faq-accordion-4-content-1" class="collapse in show" role="tabpanel" aria-labelledby="faq-accordion-4-header-1">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-4-header-2">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-4" href="#faq-accordion-4-content-2" aria-expanded="true" aria-controls="faq-accordion-4-content-2">Helpful Resources for Authors?</a>
                                        </div>
                                        <div id="faq-accordion-4-content-2" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-4-header-2">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-4-header-3">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-4" href="#faq-accordion-4-content-3" aria-expanded="true" aria-controls="faq-accordion-4-content-3">Can I use trademarked names in my items?</a>
                                        </div>
                                        <div id="faq-accordion-4-content-3" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-4-header-3">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cr-accordion">
                                        <div class="cr-accordion-header" role="tab" id="faq-accordion-4-header-4">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#faq-accordion-4" href="#faq-accordion-4-content-4" aria-expanded="true" aria-controls="faq-accordion-4-content-4">How can I get support for an item?</a>
                                        </div>
                                        <div id="faq-accordion-4-content-4" class="collapse in" role="tabpanel" aria-labelledby="faq-accordion-4-header-4">
                                            <div class="cr-accordion-body">
                                                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>
            <!--// Faq Section -->

        </main>
        <!--// Page Content -->
    </div>
    <!--// Wrapper -->
    <!-- JS Files -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/active.js"></script>
    <script src="js/scripts.js"></script>
</body>

