
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>

<section>
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-6">

                <div>
                    <h2>Privacy Policy</h2>
                    <p>Doctyme Inc respect the information provided by our customers. Because we gather certain types of information when our customers communicate with us, we believe you should fully understand the terms and conditions surrounding the information Doctyme Inc capture and the use of that information. This privacy statement discloses the type of information Doctyme Inc capture about our customers, how we use it to communicate with our customers, and how you can request to no longer receive communications from Doctyme Inc.</p>
                    <p>We encourage you to read this Privacy Policy before using the Doctyme Inc or providing information to us. By using the Doctyme Inc or providing information to us, you acknowledge that we may collect, use and disclose your information in accordance with this Privacy Policy.</p>

                    <h3>Information Security</h3>
                    <p>All information gathered on the site is stored and maintained in secure facilities. The Web site is monitored regularly to check for security breaches and ensure that all information collected is kept secure.</p>

                    <h3>Personal Information</h3>
                    <p>Personal Information we collect Other than cookies, as described below, the only personal information Doctyme Inc currently collects through its websites is the information you voluntarily give us when you use our sites. For example, you may use this site to contact Doctyme Inc with questions and comments. When you fill out a form on our websites, you may provide your name and other contact information, including your e-mail address, and your mailing address or the mailing address of your company or other personal information. If you do not wish to fill out all of the information on the form you are not required to do so. Most of our registration forms require only your name and e-mail address. When you submit information to us through the Doctyme Inc websites, you will receive a confirmation e-mail if you enter a valid e-mail address. When you use our websites to search for information on products or services, you are not providing us with any personal information. We offer the search features as a service to you. Doctyme Inc does not collect or retain any identifying information about you when you search through the site.</p>

                    <h3>How We Use Personal Information</h3>
                    <p>Doctyme Inc uses the personal data information you provide to answer your question or resolve your problem. Doctyme Inc and our affiliates also use this information to help us improve the content and functionality of our websites, to better understand our customers and markets, and to improve our products and services. If you so choose, Doctyme Inc and our affiliates may use this information to contact you in the future to tell you about products or services we believe will be of interest to you. If we do so, each communication we send you will contain instructions permitting you to "opt-out" of receiving future communications. Similarly, we may provide "subscription" e-mail services, either directly or through affiliates, which enable you to receive current news about Doctyme Inc products or services. For all such services, we will provide an opportunity to "opt-out" of, or cancel, the subscription.</p>

                    <h3>Disclosing personal information</h3>
                    <p>
                        We may disclose your personal information to any of our employees, officers, insurers, Professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the Purposes set out in this policy.
                    </p>
                    <p>We may disclose your personal information to any member of our group of companies (this Means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as Reasonably necessary for the purposes set out in this policy.</p>

                    <h4>We may disclose your personal information:</h4>
                    <ol type="a">
                        <li>To the extent that we are required to do so by law;</li>
                        <li>In connection with any ongoing or prospective legal proceedings;</li>
                        <li>In order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);</li>
                        <li>To the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling; and </li>
                        <li>
                            To any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.
                            Except as provided in this policy, we will not provide your personal information to third parties.
                        </li>
                    </ol>

                    <h3>Security</h3>
                    <p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with an AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</p>

                    <h3>Cookies</h3>
                    <p>Doctyme Inc uses cookies to deliver specific content to our customers which we believe they will enjoy. Cookies are web enabled pieces of software stored on a customer’s computer used to identify certain users and offer customized content. All cookies on our site are in no way linked to any personally identifiable information.</p>


                </div>
            </div>
            <div class="col-md-6">

                <h3 style="margin-top: 38px;">With Whom Do You Share Information?</h3>
                <p>We do not share with others any personal information that you provide to us through this website or through our Customer Service Department, except with your consent or as described in this Privacy Policy.</p>
                <p>We engage third parties to perform services in connection with the operation of our business. Examples of these services include marketing and promotional material distribution, website evaluation, data analysis and, where applicable, data cleansing. We may provide personal information to these third parties, but we authorize them to use this information only in connection with the services they perform.</p>
                <p>We may share non-personal information with our marketing partners, advertisers and others from time to time. Examples of such non-personal information include the number of users who visited this website during a specific time period or purchased a specific product through this website. This information generally is shared in an aggregated form.</p>
                <p>We may release personal information if we believe in good faith that: the law or legal process requires it; we have received a valid administrative request from a law enforcement agency; or such release is necessary to protect the rights, property or safety of Doctyme Inc, or any of our respective affiliates, business partners, customers or others.</p>



                <h3>Sharing your personal information</h3>
                <p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.</p>

                <h3>How we protect your information</h3>
                <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>

                <h3>Children</h3>
                <p>Doctyme Inc does not knowingly collect personal data from children under the age of thirteen. If you are under thirteen, please do not give us any personal data. If you have reason to believe that a child has provided personal data to Doctyme Inc, please contact us, and we will try to delete that information from our databases.</p>

                <h3>Google Analytics</h3>
                <p>We use a tool called “Google Analytics” to collect information about use of our Site. Google Analytics collects information such as how often Users visit this site, what pages they visit when they do so, and what other sites they used prior to coming to our Site.</p>

                <p>Google Analytics also records demographic information. We use the information we get from Google Analytics to maintain and improve our Site performance, as well as augment our marketing material. </p>
                <p>Google Analytics collects the IP address assigned to a User on the date they visit our site, rather than a User’s name or other identifying information. We do not combine the information collected through the use of Google Analytics with personally identifiable information. </p>
                <p>Google’s ability to use and share information collected by Google Analytics about Users’ visits to this site is restricted by the Google Analytics Terms of service, available at http://www.google.com/analytics/terms/us.html, and the Google Privacy Policy, available at http://www.google.com/policies/privacy/. <br> You can prevent Google Analytics from recognizing you on return visits to our Site by disabling cookies on your browser.</p>

                <h3>Links</h3>
                <p>When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</p>

                <h3>Changes to This Privacy Policy</h3>
                <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</p>

                <h3>Contact</h3>
                <p>Questions, comments and requests regarding this privacy statement are welcomed and should be addressed to admin@Doctyme.com</p>

            </div>
        </div>
    </div>
</section>
