@using Doctyme.Repository.Enumerable;
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>

@*<script src="~/Scripts/SeniorCare/FacilityMenu.js" type="text/javascript"></script>*@
@section pageheader{
    <h3><i class="fa fa-user-md"></i> Reviews </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="/SeniorCare/"> Senior Care </a></li>
            <li class="active"> Reviews </li>
        </ol>
    </div>
}
<style>
    #dtSeniorCareReviews_length select {
        margin: 0px 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #dtSeniorCareReviews_length {
        float: left;
    }

    #page-content {
        padding: 0px 20px 0 !important;
    }
</style>
<h5 id="lblSeniorcareOrganisationName" style="text-align:center;font-weight:600;color:#337ab7;margin-top: -50px;margin-bottom: 40px;"> </h5>
<div class="panel">
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">
                <form id="frmReviews">
                    <input type="hidden" name="ReviewId" id="ReviewId" />
                    <input type="hidden" name="ReferenceId" id="ReferenceId" />
                    <div class="col-lg-4 col-md-4 single-input">
                        <label for="Description">Description</label>
                        <textarea class="form-control" id="Description" name="Description" placeholder="Description"></textarea>
                    </div>
                    <div class="col-lg-4 col-md-4 single-input">
                        <label for="Rating">Rating</label>
                        <select name="Rating" id="Rating" class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 single-input">
                        <label for="IsActive">Is Active</label></br>
                        <label class="switch">
                            <input type="checkbox" id="IsActive" name="IsActive" checked />&nbsp;
                            <span class="slider round" style="width:35px;"></span> &nbsp;
                        </label>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="col-lg-12">
                        <button type="reset" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                        <button type="button" id="btnSubmit" class="btn btn-primary pull-right mr-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12">&nbsp;</div>

        <div class="row">
            <div class="col-lg-12">
                <div class="tab-base">
                    @*<div class="panel-heading">
                            <div class="panel-control py-10px">
                            </div>
                        </div>*@
                    <!--Tabs Content-->
                    <div class="tab-content">
                        <div id="SeniorCareReviews" class="tab-pane fade active in">
                            @*<button href="javascript:;" class="pull-right btn btn-sm btn-primary" id="AddReview">Add Review</button>*@
                            <table id="dtSeniorCareReviews" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Rating</th>
                                        <th>Is Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Default Tabs (Left Aligned)-->
            </div>
        </div>

    </div>
</div>

@section pagespecific{
    <script type="text/javascript">
        var id = 0;
        $(document).ready(function () {
            id = localStorage.getItem("SeniorcareOrganisationId");
            bindReviewList(true);
            $("#ReferenceId").val(id);
            //AddSubmenuItems("Reviews");
            AddSeniorcareSubmenu()
            $('#lblSeniorcareOrganisationName').html(localStorage.getItem("SeniorcareOrganisationName"));
        });

        $(document).on('click', '.viewInfo', function () {
            $("#frmReviews").find('input, textarea, button, select').attr("disabled", true);
        });

        id = localStorage.getItem("SeniorcareOrganisationId");
        var dataList = [];
        function bindReviewList(flag) {
            if ($.fn.DataTable.isDataTable("#dtSeniorCareReviews")) {
                $('#dtSeniorCareReviews').DataTable().destroy();
            }


            var table = $('#dtSeniorCareReviews')
                .DataTable({
                    "sAjaxSource": "/SeniorCare/GetReviewList/" + id,
                    "columns": [
                        {
                            "data": "Description",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "Rating",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "IsActive",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var value = "";
                                if (data) {
                                    value = "checked";
                                }
                                var content = '<div class="input-group mg-b-pro-edt"> &nbsp;';
                                content += '<label class="switch">&nbsp;';
                                content += '<input disabled="disabled" type="checkbox" ' + value + ' data-Id= "IsActive" />&nbsp;';
                                content += '<span class="slider round"style="width:35px;"></span> &nbsp;';
                                content += ' ';
                                content += '</label >  </div>';
                                return content;
                            }
                        },

                        {
                            "data": "ReviewId",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                console.log(row)
                                dataList.push(row);
                                //var content = '<a href="/SeniorCareProfile/' + data + '" data-toggle="tooltip" data-original-title="View Profile" class="btn btn-primary btn-sm action"><i class="fa fa-eye"></i></a> &nbsp;';
                                var content = '<a href="javascript:;" onclick="EditReviews(' + data + ')" data-toggle="tooltip" data-original-title="Edit" data-flag="edit" data-Id="' + data + '" class="btn btn-primary btn-sm action"><i class="fa fa-edit"></i></a> &nbsp;';
                                //content += '<a href="javascript:;" data-toggle="tooltip" data-original-title="De Activate" data-flag="deactivate" data-Id="' + data + '" class="btn btn-danger btn-sm action"><i class="fa fa-trash"></i></a> &nbsp;';
                                content += '<a href="JavaScript:" data-toggle="tooltip" data-original-title="View" data-flag="View" data-Id="' + data + '" class="btn btn-success btn-sm action viewInfo"><i class="fa fa-eye"></i></a> &nbsp;';
                                content += '<a href="JavaScript:" data-toggle="tooltip" data-original-title="Delete" data-flag="Delete" data-Id="' + data + '" class="btn btn-danger btn-sm action removeInfo"><i class="fa fa-trash"></i></a> &nbsp;</div>';
                                return content;
                            }
                        }
                    ]
                });
        };

        function EditReviews(row) {

            $("#frmReviews").find('input, textarea, button, select').attr("disabled", false);

            var reviewsObj = jQuery.grep(dataList, function (a) {
                return a.ReviewId == row;
            });

             $("#ReviewId").val(reviewsObj[0].ReviewId)
             $("#ReferenceId").val(reviewsObj[0].ReferenceId)
             $("#Description").val(reviewsObj[0].Description)
            $("#Rating").val(reviewsObj[0].Rating)
            if (reviewsObj[0].IsActive == true)
                $("#IsActive").attr("checked", "checked");
            else
                $("#IsActive").removeAttr("checked");
        }

            $("#btnSubmit").click(function () {

                var frmerr = true;
                $('#Description').css("border-color", "");
                if ($('#Description').val() == "") {
                    $('#Description').css("border-color", "red");
                    if (frmerr == true) {
                        frmerr = false;
                    }
                }
                if (frmerr) {
                    if ($('#IsActive').is(':checked')) {
                        $('#IsActive').val('True');
                    }
                    else {
                        $('#IsActive').val('False');
                    }
                    var data = $("#frmReviews").serialize();
                    if (!$("#ReviewId").val()) {
                        $.post("@Url.Action("CreateReview", "SeniorCare")",
                            data,
                            function (response) {
                                HandleResponse(response);
                                if (response.Status == 1) {
                                    $("#ReviewId").val("");
                                    $("#ReferenceId").val(id);
                                    $("#Description").val("");
                                    $("#Rating").val("0");
                                    $("#IsActive").attr("checked", "checked");
                                    bindReviewList(true);
                                }
                            });
                    }
                    else {

                        $.post("@Url.Action("UpdateReviews", "SeniorCare")",
                            data,
                            function (response) {
                                HandleResponse(response);
                                if (response.Status == 1) {
                                    $("#ReviewId").val("");
                                    $("#ReferenceId").val(id);
                                    $("#Description").val("");
                                    $("#Rating").val("0");
                                    $("#IsActive").attr("checked", "checked");
                                    bindReviewList(true);
                                }
                            });
                    }
                }
        });

        function AddSeniorcareSubmenu() {
            var SeniorOrgId = localStorage.getItem("SeniorcareOrganisationId");
            var isSeniorCareUser = localStorage.getItem("isSeniorCareUser");

            var submenuHtml = '';
            if (isSeniorCareUser == 1) {
                $('#aUserProfile').attr('href', '/SeniorCareProfile/' + SeniorOrgId + '/1/1');
                submenuHtml += '<ul class="nav nav-treeview  seniorcare-tree"><li class="nav-item"><a href="/SeniorCareProfile/' + SeniorOrgId + '/1/1" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Profile</p></a></li >';
            }
            else {
                $('#aUserProfile').attr('href', '/SeniorCareProfile/' + SeniorOrgId +'');
                submenuHtml += '<ul class="nav nav-treeview  seniorcare-tree"><li class="nav-item"><a href="/SeniorCareProfile/' + SeniorOrgId + '/0" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Profile</p></a></li >';
            }

            submenuHtml += '<li class="nav-item"><a href="/OrganizationAmenityOption/Index" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Amenities/Options</p></a></li>';
            if ('@User.IsInRole(UserRoles.Admin)' == 'True') {
                submenuHtml += '<li class="nav-item"><a href="/SeniorCare/Booking" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Booking</p></a></li>';
            }
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/Cost" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Cost</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SiteImage" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Images</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/Reviews" class="nav-link"><i class="far fa-dot-circle-o nav-icon"></i><p>Reviews</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/InsurancePlan" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Insurance Plan</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/OpeningHours" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Opening Hours</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/Address" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Address</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/SocialMedia" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Social Media</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/StateLicense" class="nav-link"><i class="far fa-circle nav-icon"></i><p>State License</p></a></li>';
            submenuHtml += '<li class="nav-item"><a href="/SeniorCare/Taxonomy" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Taxonomy</p></a></li>';
            submenuHtml += '</ul>'
            $('.seniorcare-tree-parent').addClass("active");
            $('.seniorcare-tree-parent').addClass("open");
            $('.seniorcare-tree-parent').addClass("menu-open");
            $('.seniorcare-tree-parent').append(submenuHtml);
        }
        $("#MnuSeniorCare").click(function () {
            window.location.href = '/SeniorCare/';
        });
        $(document).on('click', '.removeInfo', function () {
            var ItemId = $(this).attr('data-Id');
            DeleteReview(ItemId);
        });

        function DeleteReview(id) {
            var title = "Delete ?"
            var message = "Are you sure you want to <b> Delete </b> this review info";
            BinkeDialog.Confirmation(title, message, function () {
                $.ajax({
                    url: "/SeniorCare/DeleteSeniorCareReview/" + parseInt(id),
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        HandleResponse(data);
                        bindReviewList(true);
                    },
                    error: function (data) {
                        HandleResponse(data);
                    }
                });
            });
        }
    </script>
}



