@{
    Layout = "~/Views/Error/_ErrorPageLayout.cshtml";

}
<!-- row -->
<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center error-box">
                    <br />
                    <div class="error-container-space"><h1 class="error-text-space"> Oops!</h1></div>
                    <h2 class="font-xl mt-4"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i>501 - NOT IMPLEMENTED </strong></h2>
                    <br />
                    <p class="lead">
                        Your Browser does not support the requested feature.
                    </p>
                    <a href="/" class="btn btn-primary mt-4">GO TO HOMEPAGE</a>
                </div>

            </div>

        </div>

    </div>

    <!-- end row -->

</div>
