
@{
    ViewBag.Title = "ClaimProcess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>
    <style>
        .section-padding-top-sm {
            padding-top: 40px !important;
        }
        .btn-primary:hover {
            color: black !important;
        }
    </style>
</head>


<div class="bk-section doctors-profile-area section-padding-top-sm section-padding-bottom-sm" >
    <div class="container">
        @*<div class="row">
            <div class="col-md-12">
                <h4 style="font-family: Open Sans Condensed;font-size: 46px;">Claim Your Business</h4>
            </div>
        </div>*@
        <div class="row">
            @*<div class="col-md-3 col-lg-3 col-xs-12">
               
                    <div style="margin-left: 30px;">
                        <div class="ow-button-base ow-button-align-center">
                            <a href="@Url.Action("Index","Home")" style="padding: 20px;" class="btn btn-primary">
                                <span>

                                    Search For Your Business Now
                                </span>
                            </a>
                        </div>
                    </div>
               
            </div>*@
            <div class="col-md-12">
                <div class="so-widget-sow-editor so-widget-sow-editor-base">
                    <div class="siteorigin-widget-tinymce textwidget">
                        <h2>Claim Your Practice in just few minutes.</h2>
                        <p>
                            <ul>
                                <li>How to claim your practice listing on DocTyme</li>
                                <li>How to start a new practice listing</li>
                                <li>How you can improve results</li>
                            </ul>
                        </p>
                        <p>While word-of-mouth remains the most common way individuals find local healthcare providers, that conversation has now moved online to sites like Google My Business, Yelp, Facebook, and Doctyme. This means that local healthcare providers must create and build an online presence on these review sites by keeping their information up-to-date, responding to reviews, and more. Additionally, new research shows that businesses that create listings on multiple online business reviews sites make 58% more money! The first crucial step is to claim your practice on DocTyme and all other review sites.</p>
                        <p>Get more happy customers and keep them loyal with your practice.</p>
                        <p>Not sure if your practice is listed on DocTyme, Yelp, or Google My Business? Review websites automatically create a listing for your practice when customers leave reviews, so it’s important for you to manage that listing to ensure your information is up-to-date and correct. Simple things such as responding to your reviews can have a positive impact on revenue. This all begins by claiming your listing.</p>
                        <p>This page will show you, in a few easy steps, how to claim a business on Doctyme, so let’s get started!</p>
                        @*<p><iframe src="https://www.youtube.com/embed/wqIuG8N9d-Y" allowfullscreen="allowfullscreen" width="560" height="315" frameborder="0"></iframe></p>*@
                    </div>
                </div>
                <div class="so-widget-sow-editor so-widget-sow-editor-base">
                    <div class="siteorigin-widget-tinymce textwidget">
                        <h4>How to claim your business listing on DocTyme</h4>
                        <p><h4> Step 1: Start a new provider account (or log into your current account)</h4></p>
                        <p><img src="~/Content/client/images/ClaimProcessHome1.png"  alt="ClaimProcessHome1"/></p>
                        <p>
                            <ul>
                                <li>
                                    Visit <a href="https://www.doctyme.com/" target="_blank" style="color:blue">doctyme.com</a> and click the link in the footer called ‘claim your practice’.<br />
                                    <img src="~/Content/client/images/ClaimProcessHome2.png"  alt="ClaimProcessHome2"/>
                                </li>
                                <li>
                                    If you already have a DocTyme account, simply enter it and log in as you normally would<br />
                                    <img src="~/Content/client/images/ClaimProcessHome5.png"  alt="ClaimProcessHome5"/>
                                </li>
                            </ul>
                            <div>Note: The email address you provide when creating your DocTyme account will NOT be visible to anyone. </div>
                        </p>
                        <p>
                            <h4> Step 2: Search for your practice on the DocTyme home page</h4>
                            Once you search your practice, go to profile page and click on ‘Claim your Business’ link on the page.
                            <div>
                                <img src="~/Content/client/images/ClaimProcessHOme3.png"  alt="ClaimProcessHome3"/>
                                
                            </div>
                            <div>
                                Start filling the required information in the fields provided.
                                Note: If your practice doesn’t appear in the search results, then you’ll need to add it yourself. Simply go to <a href="@Url.Action("Login","Account")" style="color:blue">login page and register</a> 
                            </div>
                        </p>
                        <p>
                            <h4>Step 3: Claim your DocTyme practice listing</h4>
                            <div>
                                <img src="~/Content/client/images/ClaimProcessHome4.png" alt="ClaimProcessHome4"/>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        Enter your name as you want it to appear when you reply to customer reviews. DocTyme will not display your full last name, just your first name and your last name initial. For example, John Smith with appear as John S.
                                       
                                    </li>
                                    <li>
                                        Update your practice information, if necessary.
                                    </li>
                                    <li>
                                        Check the box to verify you are an authorized account user representing the business and agree to the Terms of Use & Privacy Policy guidelines. Then click Continue.
                                    </li>
                                </ul>
                            </div>
                        </p>
                        <p>
                            <h4>Step 4: Verify your identity</h4>
                            DocTyme requires that you verify your identity to claim, manage and update information on your practice listing. Most practices choose to verify via email address with business domain, but make sure you (or an employee) are able to receive at your business address at the time you request this option. 
                            
                           

                        </p>
                        <p>
                            Once you’ve verified your email address, you will have successfully claimed your DocTyme pactice listing!
                        </p>
                        <p> Now that you’ve claimed your listing, you can add photos of your practice, respond to reviews, and more. Simply log in to your account to get started.</p>
                    </div>

                </div>
                <div class="row">
                    <div style="margin-left: 30px;">
                        <div class="ow-button-base ow-button-align-center">
                            <a href="@Url.Action("Index","Home")" style="padding: 20px;color:white" class="btn btn-primary">
                                <span>

                                    Search For Your Business Now
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>
