
@{
    ViewBag.Title = "AgeGroup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>
@section pageheader{
    <h3><i class="fa fa-home"></i> Age Group </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="/Doctor/"> Doctor </a></li>
            <li class="active"> Age Group </li>
        </ol>
    </div>
}
    <style>
        #dtAgeGroup_length select {
            margin: 0px 10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        #dtAgeGroup_length {
            float: left;
        }
    </style>
    <style>
        label.switch {
            position: relative;
            display: inline-block;
            height: 23px;
            padding-left: 2.8em !important;
            cursor: pointer;
            color: red;
        }
    </style>
<div class="panel">
   
    <div class="panel-body">
        <button href="javascript:;" class="pull-right btn btn-sm btn-primary" id="addAgeGroup">Add Age Group</button>
        <table id="dtAgeGroup" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th> Name</th>
                    <th>Description</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section pagespecific{
    <script type="text/javascript">
        $(document).ready(function () {
            bindAgeGroupList();
        });

        $(document).on("click", "#addAgeGroup", function () {
            AddEditAgeGroup(0);
        });

        function AddEditAgeGroup(id) {
            $("#modalContent").load("/_AgeGroup/" + id, function () {
                $("#divModal").modal('show');
            });
        }
        function ViewAgeGroup(id) {
            $("#modalContent").load("/_AgeGroupView/" + id, function () {
                $("#divModal").modal('show');
            });
        }

        function bindAgeGroupList() {
            if ($.fn.DataTable.isDataTable("#dtAgeGroup")) {
                $('#dtAgeGroup').DataTable().destroy();
            }
            var table = $('#dtAgeGroup')
                .DataTable({
                    "sAjaxSource": "/GetDoctorAgeGroupList/",
                    "columns": [
                        {
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            "data": "Name",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "Description",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "IsActive",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                try {
                                    var value = "";
                                    if (data) {
                                        value = "checked";
                                    }
                                    var content = '<div class="input-group mg-b-pro-edt">';
                                    content += '<label class="switch" style="pointer-events:none">';
                                    content += '<input onchange="ActiveDeactiveAgeGroup(this)"  type="checkbox" ' + value + ' data-DocId="' + row.AgeGroupId + '" data-Id= "IsActive" />';
                                    content += '<span class="slider round"style="width:35px;"></span>';
                                    content += ' ';
                                    content += '</label >  </div>';
                                    return content;
                                } catch (e) {
                                    return "";
                                }
                                
                            }
                        },
                        {
                            "data": "AgeGroupId",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                try {
                                    var content = '<a href="javascript:;" data-toggle="tooltip" data-original-title="Edit" data-flag="edit" data-Id="' + data + '" class="btn btn-primary btn-sm action"><i class="fa fa-edit"></i></a> &nbsp;';
                                    content += '<a href="javascript:;" data-toggle="tooltip" data-original-title="View" data-flag="View" data-Id="' + data + '" class="btn btn-success btn-sm action"><i class="fa fa-eye"></i></a> &nbsp;';
                                    content += '<a href="javascript:;" data-toggle="tooltip" data-original-title="Delete" data-flag="delete" data-Id="' + data + '" class="btn btn-danger btn-sm action"><i class="fa fa-trash"></i></a> &nbsp;'
                                    return content;
                                } catch (e) {
                                    return "";
                                }
                                
                            }
                        }
                    ]
                });
        };
        var ActiveDeactiveAgeGroup = function (ctrl) {
            var flag = $(ctrl).is(":checked");

            var id = $(ctrl).data("docid");
            switch (flag) {
                case false:
                    DeactivateAgeGroup(id, true);
                    break;
                case true:
                    DeactivateAgeGroup(id, false);
                default:
            }
        }
        function DeactivateAgeGroup(id, flag) {
            var title = flag ? "De Activate" : "Re Activate";
            var message = "Are you sure you want to <b> " + title + " </b> this Age Group";
            BinkeDialog.Confirmation(title, message, function () {
                $.ajax({
                    url: "/ActiveDeAgeGroup/" + flag + "/" + parseInt(id),
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        HandleResponse(data);
                        bindAgeGroupList();
                        
                    },
                    error: function (data) {
                        HandleResponse(data);
                    }
                });
            });
        }
        $('#dtAgeGroup').on("click", ".action", function (e) {
            var flag = $(e.currentTarget).data("flag");
            var id = $(e.currentTarget).data("id");
            switch (flag) {
                case "edit":
                    AddEditAgeGroup(id);
                    break;
                case "delete":
                    RemoveAgeGroup(id);
                    break;
                case "View":
                    ViewAgeGroup(id);
                    break;
            }
        });

        function RemoveAgeGroup(id) {
            var message = "Are you sure you want to <b> Remove Age Group </b> ";
            BinkeDialog.Confirmation("Remove Age Group", message, function () {
                $.ajax({
                    url: "/RemoveAgeGroup/" + parseInt(id),
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response) {
                        HandleResponse(response);
                        if (response.Status) {
                            bindAgeGroupList();
                        }
                    },
                    error: function (data) {
                        HandleResponse(data);
                    }
                });
            });
        }
    </script>
}
