@model Doctyme.Model.DoctorAffiliationViewModel
@{
    ViewBag.Title = "Affiliation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>
@section pageheader{
    <div class="col-md-12" style="margin-bottom:25px;">
        <div class="col-md-3">
            <h3><i class="fa fa-user-md"></i>Affiliation </h3>
        </div>
        <div class="col-md-5 text-center" style="top:10px">
            <h3>@Convert.ToString(Session["DoctorName"])</h3>
        </div>
        <div class="col-md-4">
            <div class="breadcrumb-wrapper" style="top:15px;">
                <span class="label">You are here:</span>

                <ol class="breadcrumb">
                    <li> <a href='@("/DoctorProfile/"+Convert.ToString(Session["DoctorSearch"]))'> Doctor </a></li>
                    <li class="active"> Affiliation </li>
                </ol>
            </div>
        </div>
    </div>
    }

    <style>
        #dtAffiliation_length select {
            margin: 0px 10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        #dtAffiliation_length {
            float: left;
        }
    </style>
    <style>
        label.switch {
            position: relative;
            display: inline-block;
            height: 23px;
            padding-left: 2.8em !important;
            cursor: pointer;
            color: red;
        }
    </style>
    <div class="panel" style="margin-top:20px;">

        <div class="panel-body">
            <button href="javascript:;" class="pull-right btn btn-sm btn-primary" id="addAffiliation">Add  Affiliation</button>
            <table id="dtAffiliation" class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                    @{ 
                        var str = "";
                    }
                    <tr>
                        <th>Sr No</th>
                        <th> Organisation Name</th>
                        <th>Address</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    @section pagespecific{
        <script type="text/javascript">
            $(document).ready(function () {
                bindAffiliationList();
            });

            $(document).on("click", "#addAffiliation", function () {
                window.location.href = '/AddEditDoctorAffiliation/';
                //AddEditAffiliation(0);
            });

            function AddEditAffiliation(id) {
                window.location.href = '/AddEditDoctorAffiliation/' + id;
                //$("#modalContent").load("/AddEditDoctorAffiliation/" + id, function () {
                //    $("#divModal").modal('show');
                //});
            }
            function AddEditViewAffiliation(id) {
                window.location.href = '/AddEditViewDoctorAffiliation/' + id;
                //$("#modalContent").load("/AddEditDoctorAffiliation/" + id, function () {
                //    $("#divModal").modal('show');
                //});
            }
            function ViewAffiliation(id) {
                $("#modalContent").load("/_DoctorAffiliationView/" + id, function () {
                    $("#divModal").modal('show');
                });
            }

            function bindAffiliationList() {
                if ($.fn.DataTable.isDataTable("#dtAffiliation")) {
                    $('#dtAffiliation').DataTable().destroy();
                }
                var table = $('#dtAffiliation')
                    .DataTable({
                        "sAjaxSource": "/GetDoctorAffiliationList/",
                        "columns": [
                            {
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },
                            {
                                "data": "OrganisationName",
                                "autoWidth": false,
                                "searchable": true
                            },
                            {
                                "data": "FullAddress",
                                "autoWidth": false,
                                "searchable": true
                            },
                            {
                                "data": "IsActive",
                                "autoWidth": false,
                                "searchable": false,
                                "orderable": false,
                                "render": function (data, type, row) {
                                    var value = "";
                                    if (data) {
                                        value = "checked";
                                    }
                                    var content = '<div class="input-group mg-b-pro-edt">';
                                    content += '<label class="switch" style="pointer-events:none">&nbsp;';
                                    content += '<input onchange="ActiveDeactiveAffiliation(this)"  type="checkbox" ' + value + ' data-DocId="' + row.AffiliationId + '" data-Id= "IsActive" />';
                                    content += '<span class="slider round"style="width:35px;"></span>';
                                    content += ' ';
                                    content += '</label >  </div>';
                                    return content;
                                }
                            },
                            {
                                "data": "DoctorAffiliationId",
                                "autoWidth": false,
                                "searchable": false,
                                "orderable": false,
                                "render": function (data, type, row) {
                                    var content = '<div ><a href="javascript:;" onclick="AddEditAffiliation(' + data + ')" data-toggle="tooltip" data-original-title="Edit" data-flag="edit" data-Id="' + data + '" class="btn btn-primary btn-sm action"><i class="fa fa-edit"></i></a> &nbsp;';
                                    content += '<a href="javascript:;"  onclick="AddEditViewAffiliation(' + data + ')" data-toggle="tooltip" data-original-title="View" data-flag="View" data-Id="' + data + '" class="btn btn-success btn-sm action"><i class="fa fa-eye"></i></a> &nbsp;';
                                    content += '<a href="javascript:;"  onclick="RemoveAffiliation(' + data + ')" data-toggle="tooltip" data-original-title="Delete" data-flag="delete" data-Id="' + data + '" class="btn btn-danger btn-sm action"><i class="fa fa-trash"></i></a> &nbsp;</div>'
                                    return content;
                                }
                            }
                        ]
                    });
            };
            var ActiveDeactiveAffiliation = function (ctrl) {
                var flag = $(ctrl).is(":checked");

                var id = $(ctrl).data("docid");
                switch (flag) {
                    case false:
                        DeactivateAffiliation(id, true);
                        break;
                    case true:
                        DeactivateAffiliation(id, false);
                    default:
                }
            }
            function DeactivateAffiliation(id, flag) {
                var title = flag ? "De Activate" : "Re Activate";
                var message = "Are you sure you want to <b> " + title + " </b> this  Affiliation";
                BinkeDialog.Confirmation(title, message, function () {
                    $.ajax({
                        url: "/ActiveDeAffiliation/" + flag + "/" + parseInt(id),
                        type: "POST",
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            HandleResponse(data);
                            bindAffiliationList();

                        },
                        error: function (data) {
                            HandleResponse(data);
                        }
                    });
                });
            }
            $('#dtAffiliation').on("click", ".action", function (e) {
                var flag = $(e.currentTarget).data("flag");
                var id = $(e.currentTarget).data("id");
                switch (flag) {
                    case "edit":
                        AddEditAffiliation(id);
                        break;
                    case "delete":
                        RemoveAffiliation(id);
                        break;
                    case "View":
                        ViewAffiliation(id);
                        break;
                }
            });

            function RemoveAffiliation(id) {
                var message = "Are you sure you want to <b> Remove  Affiliation </b> ";
                BinkeDialog.Confirmation("Remove  Affiliation", message, function () {
                    $.ajax({
                        url: "/RemoveDoctorAffiliation/" + parseInt(id),
                        type: "POST",
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (response) {
                            HandleResponse(response);
                            if (response.Status) {
                                bindAffiliationList();
                            }
                        },
                        error: function (data) {
                            HandleResponse(data);
                        }
                    });
                });
            }
        </script>
    }
