@model Doctyme.Model.DoctorLanguageViewModel
@{
    ViewBag.Title = "Language";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>
@section pageheader{
    <div class="col-md-12" style="margin-bottom:25px;">
        <div class="col-md-3">
            <h3><i class="fa fa-user-md"></i> Language </h3>
        </div>
        <div class="col-md-5 text-center" style="top:10px">
            <h3>@Convert.ToString(Session["DoctorName"])</h3>
        </div>
        <div class="col-md-4">
            <div class="breadcrumb-wrapper" style="top:15px;">
                <span class="label">You are here:</span>

                <ol class="breadcrumb">
                    <li> <a href='@("/DoctorProfile/"+Convert.ToString(Session["DoctorSearch"]))'> Doctor </a></li>
                    <li class="active"> Language </li>
                </ol>
            </div>
        </div>
    </div>
}

<style>
    #dtLanguage_length select {
        margin: 0px 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #dtLanguage_length {
        float: left;
    }
</style>
<style>
    label.switch {
        position: relative;
        display: inline-block;
        height: 23px;
        padding-left: 2.8em !important;
        cursor: pointer;
        color: red;
    }
</style>
<div class="panel" style="margin-top:20px;">

    <div class="panel-body">
        <button href="javascript:;" class="pull-right btn btn-sm btn-primary" id="addLanguage">Add  Language</button>
        <table id="dtLanguage" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th> Name</th>
                    <th>Description</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section pagespecific{
    <script type="text/javascript">
        $(document).ready(function () {
            bindLanguageList();
        });

        $(document).on("click", "#addLanguage", function () {
            window.location.href = '/AddEditDoctorLanguage/';
            //AddEditLanguage(0);
        });

        function AddEditLanguage(id) {
            window.location.href = '/AddEditDoctorLanguage/' + id;
            //$("#modalContent").load("/AddEditDoctorLanguage/" + id, function () {
            //    $("#divModal").modal('show');
            //});
        }
        function AddEditViewLanguage(id) {
            window.location.href = '/AddEditViewDoctorLanguage/' + id;
            //$("#modalContent").load("/AddEditDoctorLanguage/" + id, function () {
            //    $("#divModal").modal('show');
            //});
        }
        function ViewLanguage(id) {
            $("#modalContent").load("/_DoctorLanguageView/" + id, function () {
                $("#divModal").modal('show');
            });
        }

        function bindLanguageList() {
            if ($.fn.DataTable.isDataTable("#dtLanguage")) {
                $('#dtLanguage').DataTable().destroy();
            }
            var table = $('#dtLanguage')
                .DataTable({
                    "sAjaxSource": "/GetDoctorLanguageList/",
                    "columns": [
                        {
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            "data": "LanguageName",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "LanguageCode",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "IsActive",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var value = "";
                                if (data) {
                                    value = "checked";
                                }
                                var content = '<div class="input-group mg-b-pro-edt"> ';
                                content += '<label class="switch" style="pointer-events:none">';
                                content += '<input onchange="ActiveDeactiveLanguage(this)"  type="checkbox" ' + value + ' data-DocId="' + row.DoctorLanguageId + '" data-Id= "IsActive" />';
                                content += '<span class="slider round"style="width:35px;"></span> ';
                                content += ' ';
                                content += '</label >  </div>';
                                return content;
                            }
                        },
                        {
                            "data": "DoctorLanguageId",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var content = '<div><a href="javascript:;" onclick="AddEditLanguage(' + data + ')" data-toggle="tooltip" data-original-title="Edit" data-flag="edit" data-Id="' + data + '" class="btn btn-primary btn-sm action"><i class="fa fa-edit"></i></a> &nbsp;';
                                content += '<a href="javascript:;"  onclick="AddEditViewLanguage(' + data + ')" data-toggle="tooltip" data-original-title="View" data-flag="View" data-Id="' + data + '" class="btn btn-success btn-sm action"><i class="fa fa-eye"></i></a> &nbsp;';
                                content += '<a href="javascript:;"  onclick="RemoveLanguage(' + data + ')" data-toggle="tooltip" data-original-title="Delete" data-flag="delete" data-Id="' + data + '" class="btn btn-danger btn-sm action"><i class="fa fa-trash"></i></a> &nbsp;</div>'
                                return content;
                            }
                        }
                    ]
                });
        };
        var ActiveDeactiveLanguage = function (ctrl) {
            var flag = $(ctrl).is(":checked");

            var id = $(ctrl).data("docid");
            switch (flag) {
                case false:
                    DeactivateLanguage(id, true);
                    break;
                case true:
                    DeactivateLanguage(id, false);
                default:
            }
        }
        function DeactivateLanguage(id, flag) {
            var title = flag ? "De Activate" : "Re Activate";
            var message = "Are you sure you want to <b> " + title + " </b> this  Language";
            BinkeDialog.Confirmation(title, message, function () {
                $.ajax({
                    url: "/ActiveDeLanguage/" + flag + "/" + parseInt(id),
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        HandleResponse(data);
                        bindLanguageList();

                    },
                    error: function (data) {
                        HandleResponse(data);
                    }
                });
            });
        }
        $('#dtLanguage').on("click", ".action", function (e) {
            var flag = $(e.currentTarget).data("flag");
            var id = $(e.currentTarget).data("id");
            switch (flag) {
                case "edit":
                    AddEditLanguage(id);
                    break;
                case "delete":
                    RemoveLanguage(id);
                    break;
                case "View":
                    ViewLanguage(id);
                    break;
            }
        });

        function RemoveLanguage(id) {
            var message = "Are you sure you want to <b> Remove  Language </b> ";
            BinkeDialog.Confirmation("Remove  Language", message, function () {
                $.ajax({
                    url: "/RemoveDoctorLanguage/" + parseInt(id),
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response) {
                        HandleResponse(response);
                        if (response.Status) {
                            bindLanguageList();
                        }
                    },
                    error: function (data) {
                        HandleResponse(data);
                    }
                });
            });
        }
    </script>
}
