@{
    /**/

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Experiences";
}
<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>
@section pageheader{
    <h3><i class="fa fa-cogs"></i> Experiences </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="~/Dashboard/Doctor/"> Doctor </a></li>
            <li class="active"> Experience </li>
        </ol>
    </div>
}

<div class="panel">
    <div class="panel-heading">
        <div class="panel-control py-10px">
            <button href="javascript:;" class="pull-right btn btn-sm btn-primary" id="addExperience">Add Experience</button>
        </div>
        <h3 class="panel-title">Experiences</h3>
    </div>
    <div class="panel-body">
        <table id="dtExperience" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Designation</th>
                    <th>Organization</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Date Created</th>
                    <th>Date Modified</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            bindExperienceList();
        });

        $(document).on("click", "#addExperience", function () {
            AddEditExperience(0);
        });

        function AddEditExperience(id) {
            $("#modalContent").load("/_Experience/" + id, function () {
                $("#divModal").modal('show');
            });
        }

        function bindExperienceList() {
            if ($.fn.DataTable.isDataTable("#dtExperience")) {
                $('#dtExperience').DataTable().destroy();
            }
            var table = $('#dtExperience')
                .DataTable({
                    "sAjaxSource": "/Doctor/GetExperienceList/",
                    "columns": [
                        {
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            "data": "Designation",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "Organization",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "StartDate",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "EndDate",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "CreatedDate",
                            "autoWidth": false,
                            "searchable": true
                        },
                        {
                            "data": "UpdatedDate",
                            "width": "20%",
                            "searchable": true
                        },
                        {
                            "data": "Id",
                            "autoWidth": false,
                            "searchable": false,
                            "orderable": false,
                            "render": function (data) {
                                var content = '<a href="javascript:;" data-toggle="tooltip" data-original-title="Edit" data-flag="edit" data-Id="' + data + '" class="btn btn-primary btn-sm action"><i class="fa fa-edit"></i></a> &nbsp;';
                                content += '<a href="javascript:;" data-toggle="tooltip" data-original-title="Delete" data-flag="delete" data-Id="' + data + '" class="btn btn-danger btn-sm action"><i class="fa fa-trash"></i></a> &nbsp;'
                                return content;
                            }
                        }
                    ]
                });
        };

        $('#dtExperience').on("click", ".action", function (e) {
            var flag = $(e.currentTarget).attr("data-flag");
            var id = $(e.currentTarget).attr("data-Id");
            switch (flag) {
                case "edit":
                    AddEditExperience(id);
                    break;
                case "delete":
                    DeleteExperience(id);
                    break;
                default:
            }
        });

        function DeleteExperience(id) {
            BinkeDialog.Confirmation("Delete",
                "Are you sure you want to delete this ?",
                function () {
                    $.ajax({
                        url: "/RemoveExperience/" + parseInt(id),
                        type: "POST",
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            HandleResponse(data);
                            bindExperienceList();
                        },
                        error: function (data) {
                            HandleResponse(data);
                        }
                    });
                });
        }
    </script>
}