@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "User Account";
}

<head>
    <link href='https://assets.doctyme.com' rel='dns-prefetch preconnect'>
    <link href='//maps.googleapis.com' rel='dns-prefetch'>
    <link href='//maps.gstatic.com' rel='dns-prefetch'>

    <link rel='icon' href='favicon.ico' type='image/x-icon' />
</head>

@section pageheader{
<h3><i class="fa fa-user-md"></i>Account </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="~/Dashboard/Doctor"> Doctor </a></li>
            <li class="active"> Account </li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <div id="TopFormBlock" class="box-primary"></div>
        <br />
        <!--Tabs Content-->
    </div>

    </div>

@section pagespecific{
<script type="text/javascript">


        $('#TopFormBlock').load('/DoctorAccount/');

        $(document).ready(function () {
          //  bindDoctorSocialMediaList(true, 0);
        });


        $(document).on('click', '.editInfo', function () {
            var ItemId = $(this).attr('data-Id');
            $('#TopFormBlock').load('/DoctorAccount/' + ItemId);
        });

        $(document).on('click', '.viewInfo', function () {
            var ItemId = $(this).attr('data-Id');
            $('#TopFormBlock').load('/DoctorAccount/' + ItemId, function () {
                $("#TopFormBlock").find('input, textarea, button, select').attr("disabled", true);
            });

        });

        $(document).on('click', '.removeInfo', function () {
            var ItemId = $(this).attr('data-Id');
            var dataFlag = $(this).attr('data-flag');

            if (dataFlag == "Activate")
                DeactivateDoctorSocialMedia(ItemId, true);
            else
                DeactivateDoctorSocialMedia(ItemId, false);
        });


        //$("#AddDoctor").click(function () {
        //    window.loadRegisterForm("Doctor");
        //});

        //---

        function CurrentPageStart() {
            var table = $('#dtDoctorSocialMedia').DataTable();
            var info = table.page.info();
            return info.start;
        }

        function DeactivateDoctorSocialMedia(id, flag) {
            var title = flag ? "ReActivate" : "Delete";
            var message = "Are you sure you want to <b> " + title + " </b> this Doctor Social Media Info";
            BinkeDialog.Confirmation(title, message, function () {
                $.ajax({
                    url: "/ActiveDeActiveDoctorSocialMedia/" + flag + "/" + parseInt(id),
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        HandleResponse(data);
                        bindDoctorSocialMediaList(true, CurrentPageStart());
                        closeModal();
                        $('#TopFormBlock').load('@Url.Action("DoctorSocialMedia", "Doctor")');
                    },
                    error: function (data) {
                        HandleResponse(data);
                    }
                });
            });
        }
</script>
}